#searchBox {
  border-color:#82A800;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 0;
}

.product-name {
  font-size: 13px;
}

.product-case {
  height: 350px;
}

article {
  padding: 7px;
}

article:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe {
  border: none;
  width: 100%;
}

.login-ifame {
  height: 220px;
}

.login-content-dialog {
  width: 400px;
}

.create-account-ifame {
  height: 400px;
}

.form-group {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.confirm-userinfo {
  text-align: center;
}

.confirm-userinfo table {
  display: inline-block;
}

.td-label {
  font-weight: bold;
  text-align: right;
  padding: 5px;
}

.td-info {
  text-align: left;
  padding: 5px;
}
